{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<h2>{% trans "Log In" %}</h2>

<!--{% get_providers as socialaccount_providers %}-->

{% if socialaccount_providers %}
<p>{% blocktrans %}
Don't have an account yet? <a href="{{ signup_url }}" class="underline">Create an account here</a>
{% endblocktrans %}</p>

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a class="underline" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction mb-2 btn btn-sm btn-more-details" type="submit">{% trans "Log In" %}</button>
  <p><a class="button secondaryAction underline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
</form>

<p>&mdash; Or &mdash;</p>
<p><a href="{% provider_login_url 'google' %}" class="btn btn-more-details"><i class="fa-brands fa-google"></i> Sign in with Google</a></p>

{% endblock %}
