{% extends 'base.html' %}

{% block main_content %}

<div class="container mt-5">
    <h2>Delivery information</h2>

    <p><strong>Delivery area</strong></p>
    <p><strong>Our delivery area is within the United Kingdom only</strong> -
        sadly the difficulties imposed by Brexit mean we are unable to
        offer shipping to countries outside the UK.</p>

    <p><strong>Delivery costs</strong></p>
    <p>Orders over £{{ free_delivery_threshold }}: Free delivery</p>
    <p>Orders below £{{ free_delivery_threshold }}: £5.00</p>
    <p>Please note that any orders (of any value) containing chilled items
        require a cool box at a cost of £{{ cool_box | floatformat:2 }}</p>

    <p><strong>Delivery times</strong></p>
    <p>Orders containing chilled products will be sent next-day delivery
        Monday-Thursday.</p>
    <p>All other orders are sent first class with an estimated delivery within
        1-3 days.</p>
    <p>Orders placed on a Saturday or Sunday will be dispatched on the
        following Monday.</p>

</div>

{% endblock %}