{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<!--This page adapted from the Bootstrap Carousel template: https://getbootstrap.com/docs/5.3/examples/carousel/-->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel"
     data-bs-theme="light">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0"
                class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>

        <!--Reinstate this if a third carousel image is added-->
<!--        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"-->
<!--                aria-label="Slide 3"></button>-->
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-image-1">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1 class="carousel-header">New products</h1>
                    <p class="opacity-75 carousel-text">Find out what's just
                        landed!</p>
                    <p><a class="btn btn-lg btn-primary btn-more-details" href="{% url 'by-category' 'new-products' %}">Discover new
                        stuff &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" id="carousel-image-2">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="carousel-header">Featured brand</h1>
                    <p class="carousel-text">Mouse's Favourite nut cheeses</p>
                    <p><a class="btn btn-lg btn-primary btn-more-details" href="{% url 'brand' 'mouses-favourite' %}">Explore the
                        range &raquo;</a></p>
                </div>
            </div>
        </div>

        <!--Reinstate this to add a third carousel image-->

<!--        <div class="carousel-item" id="carousel-image-3">-->
<!--            <img class="bd-placeholder-img">-->
<!--            <div class="container">-->
<!--                <div class="carousel-caption text-end px-3"">-->
<!--                    <h1 class="carousel-header">Christmas is coming!</h1>-->
<!--                    <p class="carousel-text">Seasonal goodies for you and your-->
<!--                        loved ones</p>-->
<!--                    <p><a class="btn btn-lg btn-primary btn-more-details" href="#">Take me there-->
<!--                        &raquo;</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <button class="carousel-control-prev" type="button"
            data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
            data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--banner immediately underneath carousel-->

<div class="row mb-5 text-center pt-2 mx-0 shadow" id="info-banner">
    <div class="col-md-6 col-lg-4 d-none d-md-block info-banner-segment">
        <p><i class="fa-solid fa-leaf mx-2"></i>100% vegan product range</p>
    </div>
    <div class="col-md-6 col-lg-4 info-banner-segment">
        <p><i class="fa-solid fa-truck-fast mx-2"></i>Free delivery over £35
        </p>
    </div>
    <div class="col-lg-4 d-none d-lg-block info-banner-segment">
        <p><i class="fa-solid fa-paw mx-2"></i>Independent vegan-owned store
        </p>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Four columns of text below the carousel -->
    <div class="row justify-content-center">
        <div class="col-9 col-lg-3 text-center">
            <a href="{% url 'by-category' 'chilled' %}"><img src="{% static 'media/homepage/mouses-camembert.jpeg' %}" class="bd-placeholder-img rounded-circle mb-3" width="140"
                 height="140" alt="">
            <h2 class="fw-normal">Chilled</h2></a>
            <p>The best vegan meats, cheeses, plant milks, spreads and
                more!</p>
            <p><a class="btn btn-secondary mb-3 btn-more-details" href="{% url 'by-category' 'chilled' %}">View all &raquo;</a>
            </p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 text-center">
            <a href="{% url 'by-category' 'food-cupboard' %}"><img src="{% static 'media/homepage/suma-tinned-meals.png' %}" class="bd-placeholder-img rounded-circle mb-3" width="140"
                 height="140" alt="">
            <h2 class="fw-normal">Food cupboard</h2></a>
            <p>Delicious vegan ready meals, storecupboard essentials and
                cooking ingredients</p>
            <p><a class="btn btn-secondary mb-3 btn-more-details" href="{% url 'by-category' 'food-cupboard' %}">View all &raquo;</a>
            </p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 text-center">
            <a href="{% url 'by-category' 'snacks-treats' %}"><img src="{% static 'media/homepage/vego-chocolate.png' %}"  class="bd-placeholder-img rounded-circle mb-3" width="140"
                 height="140" alt="">
            <h2 class="fw-normal">Snacks & Treats</h2></a>
            <p>The tastiest vegan chocolate, sweets and savoury snacks!</p>
            <p><a class="btn btn-secondary mb-3 btn-more-details" href="{% url 'by-category' 'snacks-treats' %}">View all &raquo;</a>
            </p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 text-center">
            <a href="{% url 'by-category' 'body-home' %}"><img src="{% static 'media/homepage/faith-soap.png' %}" class="bd-placeholder-img rounded-circle mb-3" width="140"
                 height="140" alt="">
            <h2 class="fw-normal">Body & Home</h2></a>
            <p>Plant-based and cruelty-free haircare, skincare and home
                cleaning products</p>
            <p><a class="btn btn-secondary btn-more-details" href="{% url 'by-category' 'body-home' %}">View all &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->


    <hr class="featurette-divider">

    <div class="row featurette justify-content-center">
        <div class="col-sm-9 text-center">
            <h1 class="page-title mb-4">Welcome to VeganDirect!</h1>
            <p class="lead">VeganDirect UK online vegan supermarket brings you a curated selection of the best vegan products from around the
                UK and Europe, delivered to your door!</p>
            <p class="lead">Our entire product range is 100% vegan,
                plant-based and free from animal testing. <br>Happy browsing!</p>
        </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col">
            <h3 class="featurette-heading lh-1">
                New Products</h3>
            <p class="lead">Check out the latest arrivals to hit the (virtual)
                shelves!</p>
            <p class="lead">
                <a href="{% url 'by-category' 'new-products' %}">View all New Products &raquo;</a>
            </p>
        </div>
    </div>

    <!--Displays a row of four products selected at random from the New Products category-->

    <div class="row">
        {% for product in new_products %}
        <div class="col-6 col-md-4 col-lg-3 my-3">
            <div class="card" style="max-width: 16rem;">
              <h6 class="card-text m-4">{{ product.categories.first.name }}</h6>
              {% if product.image %}
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" alt=""></a>
              {% endif %}
              <div class="card-body">
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><h6 class="card-title">{{ product.name }}</h6></a>
                  <a href="{% url 'brand' product.brand.slug %}"><h6 class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</h6></a>
                <h5>£{{ product.retail_price }}</h5>
                <a href="#" class="btn buy-now">Add to basket</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider">

    <!--Displays a row of four products selected at random from the Bestsellers category-->

    <div class="row featurette">
        <div class="col">
            <h3 class="featurette-heading lh-1">
                Bestsellers</h3>
            <p class="lead">Discover our most popular products right now!<p>
            <p class="lead">
                <a href="{% url 'by-category' 'bestsellers' %}">View all Bestsellers &raquo;</a>
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in bestseller_products %}
            <div class="col-6 col-md-4 col-lg-3 my-3">
            <div class="card" style="max-width: 16rem;">
              <h6 class="card-text m-3">{{ product.categories.first.name }}</h6>
              {% if product.image %}
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" alt=""></a>
              {% endif %}
              <div class="card-body">
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><h6 class="card-title">{{ product.name }}</h6></a>
                  <a href="{% url 'brand' product.brand.slug %}"><h6 class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</h6></a>
                <h5>£{{ product.retail_price }}</h5>
                <a href="#" class="btn buy-now">Add to basket</a>
              </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}