{% extends 'base.html' %}

{% block main_content %}

<div class="container mt-5">

    <div class="page-header"><h2>Privacy &amp; Cookies Policy</h2>
        <p><em>Last updated 27th September 2023.</em></p>

        <p>We are committed to protecting your privacy and understand that when
            you give personal information to us that you expect and trust us to
            take proper care with it. This Privacy Policy explains the data we
            store about you, how we use it, and your rights to see the data we
            hold about you. If you have any queries concerning the personal
            data we hold or our processing please <a
                    href="{% url 'contact' %}">contact us</a>.</p>
    </div>

    <div>
        <h3>1. The information we collect, how we use it, and the legal basis
            for processing</h3>
        <p>We collect various personal information from you as you use this
            site, and use it for the following purposes:</p>
        <h4>To carry out our contract with you.</h4>
        <p>1.1. At registration we collect personal details sufficient to
            enable us to process any orders you may place, including your email
            address, phone number, and postal delivery address. This data is
            stored electronically so we can recognise you as a registered
            customer, and to automate some of the data entry in the checkout
            process to make your shopping experience a better one. You can
            review and change any of your account details at any time on the <a
                    href="/account/">Your Account</a> page.</p>
        <p>1.2. When you submit an order we collect the details of your
            shopping. Your shopping details are stored electronically by us. We
            use this information to process your order and deliver your
            shopping.</p>
        <h4>When we believe it is in your legitimate interests</h4>
        <p>1.3. When you place an order we also use this information to create
            a history of your shopping. The history of your shopping is used to
            create lists of your favourites which you can use to reduce the
            time it takes you to place future orders.</p>
        <p>1.4. We may use the contact details you supplied to contact you if
            we become aware of any potential safety issue with a product you
            have bought.</p>
        <h4>When we believe it is in our legitimate interests</h4>
        <p>1.5. Email correspondence with you will be stored for reference. We
            do this to monitor the service that we provide to you and to
            resolve any customer complaints.</p>
        <p>1.6. Telephone calls with you may be recorded by voice or
            transcript. We do this for monitoring the service that we give to
            you and any customer complaints.</p>
        <h4>Where we have a legal obligation to do so</h4>
        <p>1.7. We store your name and summary information on what you have
            bought in electronic form, and we keep the paper copy of your
            delivery notes, as part of the business records we are required to
            keep by law.</p>
        <h4>Where we have your consent</h4>
        <p>1.8. If you have given your consent, we may use your details to
            contact you with our own marketing messages. Every marketing
            message we send will have an option to opt-out if you no longer
            wish to receive them, or you can change your marketing preference
            at any time via the "Get offers and helpful information by email
            and text" checkbox on the <a href="/account/personaldetails/">personal
                details</a> page in your account settings.</p>

        <h3>2. Who we share your personal information with.</h3>
        <p>2.1. Your payment information is sent directly from you to our
            payment service provider, <a href="https://stripe.com">Stripe</a> -
            we do not have access to your full payment card details.</p>
        <p>2.2. We may share information with credit reference agencies and
            fraud prevention schemes.</p>
        <p>2.3. We may share information with debt collection agencies.</p>
        <p>2.4. We will transfer all collected information to our successors,
            if we transfer the business to a new owner.</p>
        <p>2.5. We may need to share the accounting information described under
            1.7 above with HM Revenue and Customs.</p>
        <p>In the event that we do share information with external third
            parties, we only share such information as is required for the
            purposes and take reasonable steps to ensure recipients shall only
            process the disclosed personal information in accordance with those
            purposes.</p>
        <p>We will never disclose your information to any third party for
            marketing purposes.</p>

        <h3>3. How long we keep your personal information</h3>
        <p>3.1. We keep your profile information as long as you remain a
            registered customer. You may choose to delete your account at any
            time (see below) provided you do not have any open orders that have
            not yet been delivered.</p>
        <p>3.2. For data that we have a legal obligation to retain, we will
            keep it for as long as we are required to do so, which is typically
            seven years.</p>
        <p>3.3. If you have opted in to marketing communications, we will keep
            your details until you tell us you no longer wish to receive such
            messages from us in future, and we may need to keep a record of
            opted-out addresses in order to verify that we are not
            communicating with anyone who has opted out.</p>

        <h3>4. Your rights</h3>
        <p>4.1. You have the right to access the information that we hold about
            you. You can see your personal details, delivery addresses and
            shopping history in <a href="/account/">your account</a> at any
            time, to obtain a copy of any other personal data we hold, or to
            receive your data in a structured form that can be transferred to
            another data controller, please contact us by email or post.</p>
        <p>4.2. You have the right to request that we correct any information
            we hold which is inaccurate. In most cases you should be able to
            see and correct your information yourself in <a href="/account/">your
                account</a>, but if you are unsure you can contact us for
            assistance.</p>
        <p>4.3. You have the right to ask us to erase any personal data that we
            hold about you, with the exception of data we are legally obliged
            to retain, or which we need to retain to be able to make or defend
            a legal claim. If you would like us to do this, please contact us
            by email or post.</p>
        <p>4.4. You have the right to object to our processing of your personal
            data. You can ask us to stop processing your data by contacting us,
            but note that if you do so we will have to cancel any outstanding
            orders that have not yet been delivered.</p>
        <p>4.5. You have the right to opt out of marketing communications.
            Details of how to do this will be appended to every marketing
            message, or you can opt out at any time via the "personal details"
            page in <a href="/account/">your account</a> or by contacting us
            directly.</p>

        <p>Our contact details can be found on the <a
                href="{% url 'contact' %}">contact us</a> page.</p>

        <h3>5. Automated decision making</h3>
        <p>5.1. We do not perform any automated decision making or profiling
            based on the data you provide.</p>
        <p>5.2. Our payment provider may perform automated fraud checks when
            deciding whether to accept a particular payment.</p>

        <h3>6. International transfers of data</h3>
        <p>6.1. The processing of your payments by our payment service provider
            may involve the transfer of your payment information outside the
            EU. The provider, Stripe, is certified under the EU-US "privacy
            shield framework", details are available in <a
                    href="https://stripe.com/privacy-shield-policy">their own
                policy</a>.</p>


        <h3>7. If you are not satisfied</h3>
        <p>7.1. If you have a complaint about the way we have handled your
            personal data and you have not been able to resolve it directly
            with us, you have the right to raise your complaint with the
            Information Commissioner's Office at <a
                    href="http://www.ico.org.uk">http://www.ico.org.uk</a></p>

        <hr>
        <h2>Cookies policy</h2>
        <p>To use our website you will need to have cookies enabled on your web
            browser. We do not use or create cookies that can be used by
            themselves to identify you.</p>
        <p>A cookie is a text-only string of information that a website
            transfers to the cookie file of the browser on your computer's hard
            disk so that the website can remember who you are. A cookie will
            typically contain the name of the domain from which the cookie has
            come, the "lifetime" of the cookie, and a value.</p>

        <p>The two types of cookies used on this website are:</p>
        <ol>
            <li>Session Cookies - temporary cookies that remain in the cookie
                file of your browser until you leave the site.
            </li>
            <li>Persistent cookies - remain in the cookie file of your browser
                for much longer (though how long will depend on the lifetime of
                the specific cookie).
            </li>
        </ol>

        <p>Session cookies are used:</p>
        <ul>
            <li>To allow you to carry information across pages of our website
                and avoid having to re-enter information.
            </li>
            <li>To allow you to maintain a shopping basket</li>
        </ul>

        <p>Persistent cookies are used:</p>
        <ul>
            <li>To remember who you are so you do not have to login on a return
                visit.
            </li>
            <li>To allow you to maintain a shopping basket if you are not
                logged in as a registered user.
            </li>
            <li>By Google Analytics, a third party service provider. We use
                Google Analytics to collect information about how visitors use
                our website. The cookies they set do not collect information
                that identifies the visitor. All information collected is
                aggregated and therefore anonymous. We use this information to
                improve our website and your shopping experience.
            </li>
        </ul>

        <p>By using our website you agree to us placing cookies on your
            computer or device.</p>

        <p>You can find out more about cookies by visiting <a target="_blank"
                                                              href="http://en.wikipedia.org/wiki/HTTP_cookie">http://en.wikipedia.org/wiki/HTTP_cookie</a>.
        </p>
    </div>

</div>

{% endblock %}