{% extends 'account/base.html' %}

{% block content %}

<div class="container mt-3">
    <a href="{% url 'my-account' %}" class="underline-hover">< Back to My Account</a>
    <div class="row mt-3">
    <h2>My delivery addresses</h2>
    <p>Here's where you can add, edit or remove your saved delivery addresses</p>
    <p><a href="{% url 'add-address' %}" class="btn btn-more-details">Add new address</a></p>
    </div>



       <form method="POST" action="{% url 'set-default-address' %}">
            <div class="row d-flex">
        {% csrf_token %}
        {% for address in user_addresses %}
            <div class="col-lg-3">
           <div class="card my-1">
             <div class="card-body">
               <p class="card-text my-0">{{ address.full_name }}</p>
               <p class="card-text my-0"><strong>{{ address.line_one }}</strong></p>
                {% if address.line_two %}<p class="card-text my-0">{{ address.line_two }}</p>{% endif %}
                {% if address.line_three %}<p class="card-text my-0">{{ address.line_three }}</p>{% endif %}
                <p class="card-text my-0">{{ address.town_city_or_area }}</p>
                {% if county %}<p class="card-text my-0">{{ county }}</p>{% endif %}
                <p class="card-text my-0">{{ address.postcode }}</p>
               <a href="{% url 'edit-address' address.id %}" class="btn btn-sm btn-more-details mb-2">Edit</a>
               <a href="{% url 'delete-address' address.id %}" class="btn btn-sm btn-danger mb-2">Delete</a>
               {% if address.default_address %}
                 <h6>Preferred address</h6>
               {% else %}
               <button class="btn btn-sm" name="address_id" value="{{ address.id }}">Make this my preferred address</button>
               {% endif %}
             </div>
           </div>
       </div>

       {% endfor %}
     </div>
   </form>



</div>

{% endblock %}

