{% extends 'account/base.html' %}

{% block content %}

<div class="container mt-5">
    <a href="{% url 'addresses' %}" class="underline-hover">
        < Back to My delivery addresses</a>
    <div class="row mt-3">
        <h2>Delete this address?</h2>
        <p>Are you sure you want to delete this address? Choosing 'Delete' will
            remove it from 'My addresses' completely.</p>
        <div class="col col-lg-3">
            <div class="card" style="max-width: 16rem;">
                <div class="card-body">
                    <p class="card-text"><strong>{{ address.line_one }}
                    </strong></p>
                    <p class="card-text">{% if address.line_two %}
                        {{ address.line_two }}{% endif %}</p>
                    <p class="card-text">{% if address.line_three %}
                        {{ address.line_three }}{% endif %}</p>
                    <p class="card-text">{{ address.town_city_or_area }}</p>
                    <p class="card-text">{% if county %}{{ county }}{% endif %}
                    </p>
                    <p class="card-text">{{ address.postcode }}</p>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <button name="confirm_delete"
                        class="btn btn-sm btn-danger mt-2" value="yes">
                    Yes, delete this address
                </button>
            </form>
            <a href="{% url 'addresses' %}"
               class="btn btn-sm btn-secondary mt-2">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}