{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>
                The page you are looking for isn't available
            </h1>
            <div>
                <h4>
                    <a class="underline" href="{% url 'home' %}">
                            < Back to homepage
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}