{% extends 'base.html' %}

<!--django_bootstrap5 provides form styling on this page-->
{% load django_bootstrap5 %}

{% block main_content %}

<div class="container mt-5">
    <div class="row justify-content-center mx-2">
        <div class="col-md-9 col-lg-6">
            <h2>Add new brand</h2>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Add brand" %}
            </form>
        </div>
    </div>
</div>

{% endblock %}