{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<div class="container mt-5">

<h2>{{ current_brand.name }}</h2>
<p>{{ current_brand.description }}</p>

<div class="col-md-2 justify-content-end">
        <div class="dropdown-center mb-3">
          <button class="btn dropdown-toggle sort-by" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./?sort=name">Name A-Z</a></li>
            <li><a class="dropdown-item" href="./?sort=-name">Name Z-A</a></li>
            <li><a class="dropdown-item" href="./?sort=retail_price">Price low-high</a></li>
            <li><a class="dropdown-item" href="./?sort=-retail_price">Price high-low</a></li>
          </ul>
        </div>
    </div>

{% for product in products %}
    <div class="col-md-3 mb-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">{{ product.categories.first.name }}</p>
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><h5
                        class="card-title">{{ product.name }}</h5></a>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</h6>
                <h6>£{{ product.retail_price }}</h6>
                <a href="#" class="btn buy-now">Add to basket</a>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}

</div>