{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<!--This page displays the lists of products by category-->

<div class="container mt-5">
    <div class="row">

<!--breadcrumb menu for subcategories-->

{% if category.parent %}
    <p><a href="{% url 'by-category' category.parent.slug %}">{{ category.parent }}</a> > {{ category.name }}</p>
{% endif %}

<!--page title-->
<div class="row">
    <div class="col-md-10">
        <h2>{{ category.name }}</h2>
    </div>
     <div class="col-md-2 justify-content-end">
        <div class="dropdown-center mb-3">
          <button class="btn dropdown-toggle sort-by" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./?sort=name">Name A-Z</a></li>
            <li><a class="dropdown-item" href="./?sort=-name">Name Z-A</a></li>
            <li><a class="dropdown-item" href="./?sort=retail_price">Price low-high</a></li>
            <li><a class="dropdown-item" href="./?sort=-retail_price">Price high-low</a></li>
          </ul>
        </div>
    </div>
</div>

<!--buttons with links to subcategories from 'all products' pages of each category-->
<div class="row">
    <div class="col">
    {% if category.parent is None %}
        {% for category in children %}
            <a href="{% url 'by-category' category.slug %}"><p type="button" class="btn rounded-pill subcategory-link-button">{{ category.name }}</p></a>
        {% endfor %}
    {% endif %}
    </div>
</div>

<!--cards for pages displaying all products in a top level category (e.g. all chilled products)-->

<!---Card code from Bootstrap: https://getbootstrap.com/docs/5.3/components/card/-->

    {% for product in products %}
        <div class="col-md-3 mb-2">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <p class="card-text">{{ product.categories.first.name }}</p>
                    <a href="{% url 'single-product' category.slug product.slug %}"><h5 class="card-title">{{ product.name }}</h5></a>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</h6>
                    <h6>£{{ product.retail_price }}</h6>
                    <a href="#" class="btn buy-now">Add to basket</a>
                  </div>
                </div>
        </div>
    {% endfor %}


    </div>
</div>

{% endblock %}