{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<!--Page showing search results from the free text search box-->

<div class="row mt-5 mx-2">

    <h2 class="mb-4">Search results for: "{{ query }}"</h2>

    {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-2">
            <div class="card">
                <p class="card-text m-4">{{ product.categories.first.name }}</p>
                {% if product.image %}
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"
                   aria-hidden="true" tabindex="-1"><img
                        src="{{ product.image.url }}" class="card-img-top"
                        alt=""></a>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'single-product' product.categories.first.slug product.slug %}">
                        <p class="card-title">{{ product.name }}</p></a>
                    <a href="{% url 'brand' product.brand.slug %}"><p
                            class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</p></a>
                    <p>£{{ product.retail_price }}</p>

                    <!--quantity selector and 'Add to basket' button copied and modified from Boutique Ado-->
                    <form class="form"
                          action="{% url 'add-to-bag' product.id %}"
                          method="POST">
                        <label for="id_qty_{{ product.id }}"
                               class="visually-hidden">Quantity</label>
                        {% csrf_token %}
                        <div class="input-group">
                            <button type="button" class="decrement-qty btn"
                                    data-item_id="{{ product.id }}"
                                    id="decrement-qty_{{ product.id }}" aria-label="Decrement">
                                <span class="icon"><i class="fas fa-minus"></i></span>
                            </button>
                            <input class="form-control qty_input" type="number"
                                   name="quantity" value="1" min="1" max="99"
                                   data-item_id="{{ product.id }}"
                                   id="id_qty_{{ product.id }}">
                            <button type="button" class="increment-qty btn"
                                    data-item_id="{{ product.id }}"
                                    id="increment-qty_{{ product.id }}" aria-label="Increment">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                            </button>
                        </div>
                        <input type="submit" class="btn buy-now my-3"
                               value="Add to basket">
                        <input type="hidden" name="redirect_url"
                               value="{{ request.path }}?q={{ query|urlencode }}">
                    </form>

                </div>
            </div>
        </div>

        {% endfor %}

</div>

{% include 'bag/includes/quantity_input_script.html' %}

{% endblock %}