{% extends 'base.html' %}

{% load static %}

{% block main_content %}

<!--Page showing search results from the free text search box-->

<div class="row mt-5 mx-2">

    <h5 class="mb-4">Search results for: "{{ query }}"</h5>

    {% for product in products %}
    <div class="col-md-3 mb-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">{{ product.categories.first.name }}</p>
                {% if product.image %}
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}"><img
                        src="{{ product.image.url }}" class="card-img-top"
                        alt=""></a>
                {% endif %}
                <a href="{% url 'single-product' product.categories.first.slug product.slug %}">
                    <h5 class="card-title">{{ product.name }}</h5></a>
                <a href="{% url 'brand' product.brand.slug %}"><h6
                        class="card-subtitle mb-2 text-body-secondary">{{ product.brand }}</h6></a>
                <h5>£{{ product.retail_price }}</h5>

                <!--quantity selector and 'Add to basket' button copied and modified from Boutique Ado-->
                <form class="form" action="{% url 'add-to-bag' product.id %}"
                      method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <button type="button" class="decrement-qty btn"
                                data-item_id="{{ product.id }}"
                                id="decrement-qty_{{ product.id }}">
                            <span class="icon"><i
                                    class="fas fa-minus"></i></span>
                        </button>
                        <input class="form-control qty_input" type="number"
                               name="quantity" value="1" min="1" max="99"
                               data-item_id="{{ product.id }}"
                               id="id_qty_{{ product.id }}">
                        <button type="button" class="increment-qty btn"
                                data-item_id="{{ product.id }}"
                                id="increment-qty_{{ product.id }}">
                            <span class="icon"><i
                                    class="fas fa-plus"></i></span>
                        </button>
                    </div>
                    <input type="submit" class="btn buy-now my-3"
                           value="Add to basket">
                    <input type="hidden" name="redirect_url"
                           value="{{ request.path }}?q={{ query|urlencode }}">
                </form>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% include 'bag/includes/quantity_input_script.html' %}

{% endblock %}